/* Scrollbar track */
.c-scrollbar {
    background-color: #f1f1f1; /* Change the background color of the scrollbar track */
    width: 12px; /* Width of the scrollbar */
    height: 12px; /* Height of the scrollbar */
}
  
/* Scrollbar thumb */
.c-scrollbar__thumb {
    background-color: white !important; /* Force thumb color to white */
    border-radius: 6px !important; /* Force rounded corners */
}
  
/* Scrollbar thumb on hover */
.c-scrollbar__thumb:hover {
    background-color: white; /* Change the color of the scrollbar thumb when hovered */
}