@import './tailwind.css';
@import url('./assets/fonts/fonts.css');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.HEAD{
    width: 100vw;
    min-width: 100vh;
}

