@font-face {
  font-family: 'Raleway';
  src: url('./Raleway/static/Raleway-ExtraBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'League Spartan';
  src: url('./League Spartan/static/LeagueSpartan-ExtraBold.ttf') format('truetype');
  font-weight: ExtraBold;
  font-style: ExtraBold;
}

@font-face {
  font-family: 'Inter';
  src: url('../../assets/Font/Inter/static/Inter-SemiBold.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}