/* Header Component */

.head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0 0 20px; 
    background-color: #000000; /* Black background */
    box-shadow: 0 0 0.7rem rgba(31, 45, 61, .3);
    box-sizing: border-box; /* Ensure padding doesn't affect width */
    height: 64px; /* Set a fixed height for the header */
}

.logo {
    height: 40px;
}

.nav-left {
    display: flex;
    align-items: center;
}

.hamburger {
    background: none;
    border: none;
    color: #ffffff; /* White color */
    font-size: 24px;
    cursor: pointer;
    margin-right: 20px;
}

.side-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 350px;
    height: 100%;
    background-color: #000000; /* Black background */
    box-shadow: 0 0 0.7rem rgba(31, 45, 61, .3);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px; /* Space for the close button */
    z-index: 1000;
    transition: transform 0.3s ease-in-out;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 20px;
    background: none;
    border: none;
    color: #ffffff; /* White color */
    font-size: 24px;
    cursor: pointer;
}

.side-nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
    text-align: center;
}

.side-nav ul li {
    margin: 20px 0;
}

.side-nav ul li a {
    text-decoration: none;
    font-style: none;
    font-size: 20px;
    font-weight: 500;
    color: #ffffff; /* White text */
    transition: color 0.3s;
}

.side-nav ul li a:hover {
    color: #b3b3b3; /* Light grey on hover */
}

.signup-button {
    height:64px;
    padding: 0 35px; 
    background-color: #7ed957; /* Green color similar to the leaf in the logo */
    color: white;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    transition: background-color 0.3s;
}

.signup-button:hover {
    background-color: #3FA52B; /* Darker green on hover */
}
